body { background: #eee00c; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 14px; display: flex; }
.block-product-0 { color: #993270; font-size: 17px; margin-bottom: 5px; }
.block-cache-1 { color: #b02804; font-size: 19px; margin-bottom: 5px; }
.block-email-2 { color: #3f9fae; font-size: 18px; margin-bottom: 5px; }
.block-user-3 { color: #7db621; font-size: 21px; margin-bottom: 5px; }
.block-database-4 { color: #8f52fd; font-size: 17px; margin-bottom: 5px; }